* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9f9f9;
  color: #1d3557;
  display: flex;
}

.sidebar {
  width: 220px;
  background-color: #ffffff;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  height: 100vh;
  position: fixed;
  padding: 1em;
}

.logo img {
  width: 100%;
  height: auto;
  margin-bottom: 2em;
  border-radius: 8px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
}

.menu a {
  text-decoration: none;
  color: #1d3557;
  font-weight: bold;
  font-size: 1.1em;
  padding: 0.5em;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.menu a:hover {
  background-color: #d9e6f2;
  color:#1d3557;
}

.main-content {
  margin-left: 240px;
  padding: 2em;
  width: 100%;
}

.hero {
  text-align: center;
  padding: 3em 1em;
  background-color: #e8f0fa;
  border-radius: 10px;
  margin-bottom: 2em;
}

.hero h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.hero p {
  font-size: 1.2em;
}

body {
  font-family: Arial, sans-serif;
  background: #f0f8ff;
  margin: 0;
}

.agenda-citas {

margin-left: 600px;
margin-top: 50px;
width: 500px;
  padding: 40px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.agenda-citas h2, .agenda-citas h3 {
  color: #0077cc;
}

form input, form select, form button {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  font-size: 1rem;
  border-radius: 10px;
  border: 1px solid #ccc;
}

form button {
  background: #0077cc;
  color: white;
  border: none;
  cursor: pointer;
}

form button:hover {
  background: #005fa3;
}

ul {
  list-style: none;
  padding: 0;
}

.cita-item {
  background: #e7f3ff;
  margin-bottom: 10px;
  padding: 10px;
  border-left: 5px solid #0077cc;
  border-radius: 8px;
}

.citas-agendadas {
  margin-top: 2rem;
  background-color: #eaf4ff;
  padding: 1rem;
  border-radius: 8px;
}

.citas-agendadas ul {
  list-style: none;
  padding: 0;
}

.citas-agendadas li {
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
}

